#header {
    height: 36px;
    line-height: 36px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    border-width: 0px 0px 1px 0px;
    border-color: #176aa7;
    border-style: solid;
    background: #2493e5;
    z-index: 1000;
    /* opacity: 0.95; */
    color: white;
    padding: 0px 8px;
    font-size: 18px;
    border-radius: 3px 3px 0px 0px;
    user-select: none;
    cursor: default;
}
