#header {
    height: 36px;
    line-height: 36px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    border-width: 0px 0px 1px 0px;
    border-color: #176aa7;
    border-style: solid;
    background: #2493e5;
    color: white;
    padding: 0px 8px;
    font-size: 18px;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: space-between;
}
#wholeDelete {
}

#footer {
    height: 48px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    border-width: 1px 0px 0px 0px;
    border-color: #b9b9b9;
    border-style: solid;
    background: #fafafa;
}
